:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #333333;
    --color-green: #03b54d;
    --color-red: #FF0000;
    --color-black-background: #101C20;
    --color-blue: blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.section-header {
    height: 100vh;
    background-image: url(img/background.svg);
    background-position: center center;
    background-size: cover;
}

.section-bot {
    height: 100vh;
    background: var(--color-dark1);
}

.section-bot-explanation {
    height: 100vh;
    background: #253a44;
}

.section-get-bot {
    height: 50vh;
    background-image: url(img/background_get_bot.webp);
    background-position: center center;
    background-size: cover;
}

.section-footer {
    height: 15vh;
}

.main-footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 50px;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-get-bot {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-background {
    height: 300px;
    margin-top: 40px;
    padding: 30px;
    background: var(--color-black-background);
    border-radius: 37px;
    text-align: center;
    align-items: center;
}

.container-background h1 {
    font-size: 30px;
    text-align: center;
}

.container-background-link {
    display: block;
    color: var(--color-white);
    animation: 3.4s cubic-bezier(0.2, 0.5, 0.9, 0.6) 2s infinite normal none running textura;
    background-image: linear-gradient(45deg, #2ccc00, #028e1e, #2ccc00, #028e1e);
    background-size: 400% 200%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    font-size: 20px;
}

.container-background-link:hover {
    transform: scale(1.1);
}

.background-social-networks {
    background: var(--color-dark5);
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    text-align: center;
}

.background-social-networks:hover {
    transition: all 1ms ease;
    background: var(--color-green);
    color: var(--color-black-background);
}

.container-bot-explanation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-bot-explanation p {
    width: 50%;
    word-spacing: 5px;
    line-height: 1.2;
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
}

.container-bot-explanation h1 {
    font-size: 30px;
    font-style: italic;
}

.title-center-bot-esplanation {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    padding-top: 30px;
}

.video {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}

.video-display {
    border-radius: 10px;
    border: 2px solid var(--color-green);
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}

.title-bot-video1 {
    width: 100%;
    position: relative;
    top: 80px;
    font-style: italic;
}

.title-bot-video2 {
    width: 100%;
    position: relative;
    top: 80px;
    font-style: italic;
}

.title-bot-video3 {
    width: 100%;
    position: relative;
    top: 80px;
    font-style: italic;
}

.text-header {
    font-size: 25px;
    font-style: italic;
    text-align: left;
}

.text-center-bot {
    position: relative;
    top: 15%;
    text-align: center;
    margin: 0 50px;
}

.text-center-bot h1 {
    font-size: 40px;
}

.text-green {
    color: green;
}

.img-header img {
    width: 50%;
    border-radius: 20px;
}


@media (max-width: 768px) {
    .main-header {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding-left: 1px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .text-header {
        font-size: 10px;
        font-style: italic;
    }

    .img-header img {
        width: 50%;
        height: 100px;
    }

    .section-header {
        padding-top: 20px;
        height: 40vh;
        background-image: url(img/background.svg);
        background-position: center center;
        background-size: cover;
    }

}